<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sapdata.admin.mapper.CardFlagMapper" >
  <resultMap id="BaseResultMap" type="com.sapdata.admin.bean.CardFlag" >
    <id column="flag" property="flag" jdbcType="INTEGER" />
    <result column="value" property="value" jdbcType="VARCHAR" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select *
    from CARDFLAG
    where flag =1
  </select>
</mapper>