<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sapdata.admin.mapper.AdminUserMapper" >
  <resultMap id="BaseResultMap" type="com.sapdata.admin.bean.AdminUser" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="customer_code" property="customerCode" jdbcType="VARCHAR" />
    <result column="customer_password" property="customerPassword" jdbcType="VARCHAR" />
    <result column="sale_code" property="saleCode" jdbcType="VARCHAR" />
    <result column="sale_password" property="salePassword" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
    <result column="role_code" property="roleCode" jdbcType="INTEGER" />
    <result column="login_mode" property="loginMode" jdbcType="INTEGER" />
  </resultMap>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Long" >
    select *
    from t_admin_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>

  <select id="findAll" resultMap="BaseResultMap" parameterType="com.sapdata.admin.bean.AdminUserVo" >
    select *
    from t_admin_user
    limit #{pageNo,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>

  <select id="countAll" resultType="Long" parameterType="com.sapdata.admin.bean.AdminUserVo" >
    select count(*)
    from t_admin_user
  </select>

  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from t_admin_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.sapdata.admin.bean.AdminUser" >
    insert into t_admin_user (user_id, customer_code, customer_password,
      sale_code, sale_password, mobile,
      real_name, idcard, address,
      create_date, modify_date, role_code,
      login_mode)
    values (#{userId,jdbcType=INTEGER}, #{customerCode,jdbcType=VARCHAR}, #{customerPassword,jdbcType=VARCHAR},
      #{saleCode,jdbcType=VARCHAR}, #{salePassword,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
      #{realName,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, #{roleCode,jdbcType=INTEGER},
      #{loginMode,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.sapdata.admin.bean.AdminUser" >
    update t_admin_user
    <set >
      <if test="customerCode != null" >
        customer_code = #{customerCode,jdbcType=VARCHAR},
      </if>
      <if test="customerPassword != null" >
        customer_password = #{customerPassword,jdbcType=VARCHAR},
      </if>
      <if test="saleCode != null" >
        sale_code = #{saleCode,jdbcType=VARCHAR},
      </if>
      <if test="salePassword != null" >
        sale_password = #{salePassword,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="roleCode != null" >
        role_code = #{roleCode,jdbcType=INTEGER},
      </if>
      <if test="loginMode != null" >
        login_mode = #{loginMode,jdbcType=INTEGER},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>

  <select id="checkUserBysSale" resultMap="BaseResultMap" parameterType="com.sapdata.admin.bean.AdminUser" >
    SELECT * FROM t_admin_user where sale_code=#{saleCode} and sale_password=#{salePassword}
  </select>

  <select id="checkUserByCustom" resultMap="BaseResultMap" parameterType="com.sapdata.admin.bean.AdminUser" >
    SELECT * FROM t_admin_user where customer_code=#{customerCode} and customer_password=#{customerPassword}
  </select>
</mapper>